.card {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  height: 100%; }
  .card-link:not(:last-child) {
    margin-right: 2.5rem; }
  .card-link:link, .card-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #6d8ba6;
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    transition: all 0.5s; }
  .card-link:hover {
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    transform: translateY(-4px); }
  .card-link:active {
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    transform: translateY(-2px); }

.btn-primary-custom {
  background-color: #6d8ba6;
  color: #fff;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: all 0.2s; }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 120%; }
  @media only screen and (max-width: 991.98px) {
    html {
      font-size: 93.75%; } }
  @media only screen and (max-width: 767.98px) {
    html {
      font-size: 87.5%; } }
  @media only screen and (max-width: 575.98px) {
    html {
      font-size: 81.25%; } }

body {
  box-sizing: border-box; }

.header-secondary {
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  letter-spacing: 3px; }

.header-first {
  font-size: 2.5rem;
  letter-spacing: 3px;
  font-weight: 400; }

.bg-primary-custom {
  background-color: #586f8c; }

.text-primary-custom {
  color: #6d8ba6; }

.icon-lg {
  font-size: 1.5rem; }

.icon-md {
  font-size: 1rem; }

.header-link:not(:last-child),
.footer-link:not(:last-child) {
  margin-right: 1rem; }
  .header-link:not(:last-child) span,
  .footer-link:not(:last-child) span {
    margin-left: 10px; }

.header-link:link, .header-link:visited,
.footer-link:link,
.footer-link:visited {
  color: #fff;
  text-decoration: none; }

.header-link:hover, .header-link:active,
.footer-link:hover,
.footer-link:active {
  text-shadow: 0 0.3rem 0.5rem rgba(255, 255, 255, 0.5);
  transition: all 0.2s; }

.skills-set > * {
  margin-right: 1rem; }
