.header,
.footer {
  &-link:not(:last-child) {
    margin-right: 1rem;
    span {
      margin-left: 10px;
    }
  }

  &-link:link,
  &-link:visited {
    color: #fff;
    text-decoration: none;
  }
  &-link:hover,
  &-link:active {
    text-shadow: 0 0.3rem 0.5rem rgba(255, 255, 255, 0.5);
    transition: all 0.2s;
  }
}

.skills {
  &-set > * {
    margin-right: 1rem;
  }
}
